@import "_reset.scss";

body {
	background-color: #EBEBEB;
	font-family: sans-serif;
}

.wrapper {
	width: 890px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	header {
		background-color: orange;

		#menu {
			min-height: 50px;
			align-items: center;
			display: flex;

			.active {
				text-decoration: underline;
			}

			:hover {
				text-decoration: underline;
			}

			a {
				color: white;
				text-decoration: none;
				margin-left: 20px;
				font-size: 20px;
			}
		}
	}

	.container {}

	footer {}
}