@import "_reset.scss";

body {
	background-color: #EBEBEB;
	font-family: sans-serif;
}

.wrapper {
	width: 890px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	header {
		background-color: orange;

		#menu {
			height: 50px;
			align-items: center;
			display: flex;

			.active {
				text-decoration: underline;
			}

			:hover {
				text-decoration: underline;
			}

			a {
				color: #fff;
				text-decoration: none;
				margin-left: 20px;
				font-size: 20px;
			}
		}
	}

	.container {
		background-color: #ffffff;
		display: flex;
		padding: 20px;

		main {
			text-align: justify;
			width: 550px;
			margin-right: 20px;

			h1 {
				font-size: 25px;
			}

			h2 {
				font-size: 25px;
				margin-top: 10px;
			}

			p {
				margin-top: 10px;
				font-size: 15px;
			}

			img {
				margin-top: 10px;
				width: 550px;
			}

			table {
				margin-top: 10px;
				border-collapse: separate;
				width: 550px;
				border-spacing: 2px;

				th {
					font-size: 18px;
					background-color: rgb(213, 213, 213);
					border: 1px solid black;
				}

				td {
					border: 1px solid black;
					text-align: center;
				}
			}
		}

		aside {
			text-align: justify;
			h2 {
				font-size: 23px;
				margin-top: 10px;
			}

			ul {
				li {
					margin-top: 10px;
					font-size: 15px;
				}
			}

			p {
				margin-top: 10px;
				font-size: 15px;
			}
		}
	}

	footer {
		background-color: orange;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 15px;
		color: #fff;

	}
}